﻿body
{
	font-family:Arial;
	font-weight:normal;
    background-color: #ecf0f1;
	margin:0;
    padding:0;
	height:100%;
}


ul.pasek_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0174b2;
}

li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ecf0f1;
	color:#0174b2;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0174b2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #ecf0f1}

.dropdown:hover .dropdown-content {
    display: block;
}



html
{
	height:100%;
}
*
{
    box-sizing:border-box;
}
.naglowek
{
	position:relative;
	z-index:0;
}
.menu
{
	position:relative;
	height:10px;
	margin-bottom:70px;
}
.zawartosc
{
	padding:10px;
	padding-bottom:200px;
	height:100%;
}
.stopka
{
	background-color:#0174b2;
	position:absolute;
    bottom:0;
	left:0;
    width:100%;
    height:60px;

}
.tlo
{
    min-height:100%;
	position:relative;
    width:100%;
	min-height:100%;
}
p.napis_stopka
{
	color:#f5f6f7;
	text-align:center;
	font-size:20px;
}

.formularz_ustawienie
{
    float:left;
    padding:10px;
}
.formularz
{
	padding-bottom:20px;
}
#podpis_obrazek
{
    color:#0174b2;
}
h1
{
    color:#0174b2;
	font-weight:normal;
}
h1.czolowka
{
	position:relative;
    text-align:center;
	font-size:70px;
	font-style:normal;
    color:#0174b2;
}
h2
{
    color:black;
}
.formularz_kolor_czcionki
{
    color:#666666;
}
#dane_formularz
{
    width:25%;
}
#kolor_tytul
{
    color:black;
    float:left;
}
.obraz
{
    text-align:center;
}

