﻿body
{
	min-width:100%;
}
.galeria_rzad , .galeria_kolumna
{
    padding: 10px 0px;
}
.galeria_rzad
{
	width:100%;
	text-align:center;
}
.galeria_first_look
{
	text-align:center;
	width:100%;
}
.galeria_rzad:after
{
    content:"";
    display:table;
    clear:both;
}
.galeria_kolumna
{
    float:left;
	width:25%;
}
.galeria_miniatura
{
	padding-bottom:5px;
}
.galeria_powiekszenie
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
.galeria_powiekszenie_zawartosc
{
    position:relative;
    background-color:#fefefe;
    margin:auto;
    padding:0;
    width:90%;
    max-width:700px;
}
/*przyciski zamkniecia*/
.galeria_powiekszenie_zamknij
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.galeria_powiekszenie_zamknij:hover,
.galeria_powiekszenie_zamknij:focus 
{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.galeria_slajdy
{
    display:none;
}
.galeria_kursor
{
    cursor:pointer;
}
.galeria_nastepny_przycisk, .galeria_poprzedni_przycisk
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
}
.galeria_nastepny_przycisk
{
    right:0;
    border-radius: 3px 0 0 3px;
}
.galeria_poprzedni_przycisk
{
    left:0;
    border-radius: 3px 0 0 3px;
}
.galeria_poprzedni_przycisk,
.galeria_nastepny_przycisk
{
    background-color: rgba(0, 0, 0, 0.8);
}
.galeria_numery_zdjec
{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}
img
{
    margin-bottom:-4px;
}
.galeria_zawartosc_opisu_obrazu
{
    text-align:center;
    background-color:black;
    padding: 2px 16px;
    color:white;
}
.galeria_demo
{
    opacity:0.6;
}
.galeria_aktywny, 
.galeria_demo:hover
{
    opacity:1;
}
img.hover-shadow
{
    transition:0.3s;
}
.hover-shadow:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


