﻿body
{
}
td,th,tr
{
	border:solid black 0px;
	text-align:center;
	width:200px;
}
td,th
{
	margin:10px;
}
tr
{
	padding-bottom:3px;
}
img
{
	width:400px;
}
table
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	/*border-spacing:50px;*/

}
.kolorowa_tabela tbody tr:nth-child(odd) 
{
	background: #cce6ff;
}
.kolorowa_tabela tbody tr:nth-child(even) 
{
	background:#ecf0f1;
}